---
- name: Install Metric Beat
  hosts: webservers
  become: true
  tasks:

  - name: Download Metricbeat
    command: curl -L -O https://artifacts.elastic.co/downloads/beats/metricbeat/metricbeat-7.4.0-amd64.deb

  - name: install metricbeat
    command: dpkg -i metricbeat-7.4.0-amd64.deb

  - name: drop in metricbeat config
    copy:
      src: /etc/ansible/metricbeat-config.yml
      dest: /etc/metricbeat/metricbeat.yml

  - name: enable and configure docker module for Metricbeat
    command: metricbeat modules enable docker

  - name: setup Metricbeat
    command: metricbeat setup

  - name: start Metricbeat
    command: service metricbeat start
